{% extends 'blog_app/base.html' %} 


    <!-- Main Content-->
    {% block content %}
    <main class="mb-4">
      <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <p>
              Hello,
              I am Traniel Pride, I am WBU graduate with a Computer information Systems degree. Learning to code has been a great adventure. I have been trying to learn as much as I can for about a year now. I have learned Python and JavaScript plus some of the frameworks offered by both. I plan on actually learning C# and that is one major reason I started this blog. I want to track my journey and also let everyone enjoy the journey with me. The tech industry is extremely big and I just want to get in where I can so I can learn as much as I can. The tech world is exciting so I do not see myself stepping away from this world for a long time if ever
            </p>
            <p>
              A little about me:
              I am currently 37 years old as of 2022. I have 4 wonderful children and I have been married for 11 years. Coding, Gaming, Family, Jesus are all things I love. :) I plan on leaving a legacy for my children so they can do greater than I could ever do. 
            </p>
            <p>
              Today I have just deployed this DJANGO app online - 06-07-2022
            </p>
          </div>
        </div>
      </div>
    </main>
    {% endblock %}
    
