{% extends 'blog_app/base.html' %}
<!-- Main Content-->
{% block content %}
<h1 style="text-align: center;" >Details!!!</h1>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
          <div class="post-title">
              <h2 class="post-title">
                {{blog.title}}
              </h2>
              <p>
                {{blog.content}}
              </p>
              <i>
              <p class="post-meta" style="color: #999;" >
                  Posted by: {{blog.author.username}}
                  on: {{blog.post_created}}
              </p>
            </i>
              {% if blog.author == user %}
              <div>
                <a href="{% url 'blog-post-update' blog.id %}" class="btn btn-info" style="background-color: rgb(140,0,140); color: #fff; border: none;" >UPDATE</a>
                <a href="{% url 'blog-post-delete' blog.id %}" class="btn btn-danger" style="background-color: #777; color: #fff; border: none;">DELETE</a>
              </div>
              {% endif %}
          </div>
      </div>
  </div>
</div>
{% endblock %}
