{% extends 'blog_app/base.html' %}

<!-- Main Content-->
{% block content %}
<center class="center">
  <h1 class="home-header" >The Blogs!!!</h1>
</center>


<!-- Main Content-->
<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
          <!-- Post preview-->
          {% for blog in blogs %}
          <div class="post-preview">
              
                  <h2 class="post-title">
                   <a href="{% url 'blog-post-detail' blog.id %}">{{blog.title}}</a> 
                  </h2>
                  <p>
                    {{blog.content | slice:":70"}}<a href="{% url 'blog-post-detail' blog.id %}">...read more</a>
                  </p>
              <p class="post-meta">
                  Posted by: {{blog.author.username}}
                  on: {{blog.post_created}}
              </p>
          </div>
          <!-- Divider-->
          <hr class="my-4" />
          <!-- Post preview-->
          {% endfor %}
          <nav  aria-label="Page navigation example">
            <ul class="pagination">
              {% if page_obj %} 
                {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
                  <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">< previous</a></li>
                {% endif %}
                
            {% for i in page_obj.paginator.page_range %}
              {% if page_obj.number == i %}
              <li class="page-item active"  >
                <a class="page-link " style="background-color: rgb(140,0,140);" href="?page={{page_obj.number}}">{{page_obj.number}}</a>
              </li>
              {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
              <li class="page-item">
                <a class="page-link " href="?page={{i}}">{{i}}</a>
              </li> 
              {% endif %}
            {% endfor %}
          
                {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next ></a>
                  <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            {% endif %}
            </ul>
          </nav>
          
        
      </div>
  </div>
</div>



{% endblock %}
